<h1>Devoluciones</h1>
<button type="button" (click)="agregar()" class="btn btn-primary" style="margin-right: 10px;"
    *ngIf="status== 'agregar'">Agregar</button>
<table class="table table-striped table-hover table-light">
    <thead>
        <tr>
            <th>idProductos</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Devolver</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articulo of articulos">
            <td>{{ articulo.idProductos}}</td>
            <td>{{ articulo.Nombre}}</td>
            <td>{{ articulo.Stock}}</td>
            <td>{{ articulo.precioUnitario | currency }}</td>
        </tr>
    </tbody>

</table>
<button type="button" (click)="regresar()" class="btn btn-success">Regresar</button>