<h1>Administración de Articulos</h1>
<input type="text" class="" style="width:250px" placeholder="Ingresar ID o Nombre del producto" [(ngModel)]='busqueda'>
<button class="btn btn-primary" style="margin-left: 10px;" (click)="buscar()">Buscar</button>
<table class="table table-striped table-hover table-light">
    <thead>
        <tr>
            <th>idProductos</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Stock</th>
            <th>Precio</th>
            <th>Color</th>
            <th>Eliminar</th>
            <th>Seleccionar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articulo of articulos">
            <td>{{ articulo.idProductos}}</td>
            <td>{{ articulo.Nombre}}</td>
            <td>{{articulo.Descripcion}}</td>
            <td>{{ articulo.Stock}}</td>
            <td>{{ articulo.precioUnitario | currency }}</td>
            <td>{{ articulo.Color}}</td>
            <td><button class="btn btn-danger" type="button" (click)="borrar(articulo)">Borrar</button></td>
            <td><button class="btn btn-secondary" type="button" (click)="seleccionar(articulo)">Seleccionar</button>
            </td>
        </tr>
    </tbody>

</table>
