<h1> Agregar Articulos</h1>
<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="msgAlert">
  <strong>Error!!</strong>{{ msgText }}.
  <button type="button" (click)="cerrarAlert()" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="mb-3">
    <label class="form-label">idProductos</label>
    <input type="number" class="form-control" [(ngModel)]="articuloModificar.idProductos" name="idProd">
</div>
<div class="mb-3">
    <label class="form-label">Nombre</label>
    <input type="text" class="form-control" [(ngModel)]="articuloModificar.Nombre" name="nombreProd">
</div>
<div class="mb-3">
    <label class="form-label">Descripción</label>
    <input type="text" class="form-control" [(ngModel)]="articuloModificar.Descripcion" name="descProd">
</div>
<div class="mb-3">
    <label class="form-label">Stock</label>
    <input type="number" class="form-control" [(ngModel)]="articuloModificar.Stock" name="stockProd">
</div>
<div class="mb-3">
    <label class="form-label">Precio</label>
    <input type="number" class="form-control" [(ngModel)]="articuloModificar.precioUnitario" name="precioProd">
</div>
<div class="mb-3">
    <label class="form-label">Color</label>
    <input type="text" class="form-control" [(ngModel)]="articuloModificar.Color" name="colProd">
</div>

<button type="button" (click)="agregar()" class="btn btn-primary" style="margin-right: 10px;"
    *ngIf="status == 'agregar'">Agregar</button>
<button type="button" (click)="modificar()" class="btn btn-primary" style="margin-right: 10px;"
    *ngIf="status == 'modificar'">Modificar</button>
<button type="button" (click)="regresar()" class="btn btn-success">Regresar</button>
