<h1> Agregar Articulos</h1>
<div class="mb-3">
    <label class="form-label">idProductos</label>
    <input type="number" class="form-control" [(ngModel)]="articuloModificar.idProductos">
</div>
<div class="mb-3">
    <label class="form-label">Descripción</label>
    <input type="text" class="form-control" [(ngModel)]="articuloModificar.descripcion">
</div>
<div class="mb-3">
    <label class="form-label">Precio</label>
    <input type="number" class="form-control" [(ngModel)]="articuloModificar.precioUnitario">
</div>

<button type="button" (click)="agregar()" class="btn btn-primary" style="margin-right: 10px;"
    *ngIf="status == 'agregar'">Agregar</button>
<button type="button" (click)="modificar()" class="btn btn-primary" style="margin-right: 10px;"
    *ngIf="status == 'modificar'">Modificar</button>
<button type="button" (click)="regresar()" class="btn btn-success">Regresar</button>